body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe-example {
    border: 5px solid #1a3159;
    border-width: 0px 0px 5px 0px;
    padding: 24px 0px;
}

.recipe-example h4 {
    margin: 0px;
    margin-bottom: 12px;
}