* {
    box-sizing: border-box;
}

body {
    min-height: 96vh;
    background-image: 
        /* linear-gradient(#ff7300, #000000) , */
        url("../images/kh_finalworld.jpg");
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#layout {
    /* max-width: 1200px; */
    width: 80%;
    margin: 48px auto;
    background-color: #FFFFFF99;
    border: 8px solid navy;
    /* border: 8px solid black; */
    border-radius: 24px;
    padding: 36px;
}

h1 {
    text-align: center;
    margin-bottom: 12px;
}

h1 + h3 {
    text-align: center;
    margin-bottom: 48px;
}

h2 {
    font-size: 40px;
}

.centered {
    text-align: center;
}

#flex-container {
    display: flex;
    gap: 36px;
}

#agenda,
#assignments {
    background-color: azure;
    padding: 36px;
    flex: 4;
}

#agenda {
    flex: 5;
}

#assignments h2:first-child,
#agenda h2:first-child {
    margin-top: 0px;
}

#agenda h2:first-child {
    text-align: center;
}

#assignments img {
    display: inline-block;
    margin: 24px 0px;
    width: 100%;
    /* border-radius: 50% 50% 0px 0px; */
}

#assignments .img-container.more-space {
    background-color: #bcbfbe;
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    margin: 36px 0px;
}

#assignments .img-container.more-space.light-gray {
    background-color: #bcbfbe;
}

#assignments .img-container.more-space.dark-gray {
    background-color: #606367;
}

#assignments .img-container.more-space.ash-gray {
    background-color: #514c50;
}

#assignments .img-container.more-space.blue-gray {
    background-color: #344553;
}

#assignments .img-container.more-space.dark-blue-gray {
    background-color: #141a24;
}

#assignments .img-container.more-space.light-green {
    background-color: #89bdb9;
}

#assignments .img-container.more-space.light-teal {
    background-color: #54c3b9;
}

#assignments .img-container.more-space.dark-teal {
    background-color: #2e434e;
}

#assignments .img-container.more-space.dark-blue {
    background-color: #091c2f;
}

#assignments .img-container.more-space.dark-blue-green {
    background-color: #314555;
}

#assignments .img-container.more-space.dark-red {
    background-color: #871e2c;
}

#assignments .img-container.more-space.reddish-black {
    background-color: #271719;
}

#assignments .img-container.more-space.off-black {
    background-color: #050505;
}

#assignments .img-container.more-space.final-black {
    background-color: #0d1b15;
}

#assignments .img-container.more-space img {
    width: 70%;
    display: inline-block;
    margin: 24px 0px;
}

#assignments .img-container.more-space.black {
    background-color: #000000;
}

#assignments .img-container.more-space-offset {
    background-color: #09202f;
    display: flex;
    justify-content: center;
    padding: 48px 0px 0px 36px;
    margin: 36px 0px;
}

#assignments .img-container.more-space-offset img {
    margin: 0px;
}

#agenda {
    display: flex;
    flex-direction: column;
}

#agenda .wrapper {
    flex: 1;
}

.wrapper {
    background-color: skyblue;
    /* background-color: #ff7300d6; */
    padding: 12px 24px;
}

ul li {
    list-style-type: none;
    margin: 8px 0px;
}

ul ul li {
    list-style-type: disc;
}

.type {
    font-weight: bold;
    font-size: 24px;
    margin-right: 16px;
}

a {
    color: #008029;
}

.love {
    font-size: 24px;
    color: rgb(230, 91, 91);
}

.indent {
    margin-left: 24px;
}

@media screen and (max-width: 1100px) {
    
    #flex-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    #layout {
        width: 95%;
    }
}