body {
    margin: 0px;
}

#hero {
    width: 100%;
}

nav {
    background-color: navy;
}

nav a {
    color: turquoise;
    text-decoration: none;
}

nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
}

nav > ul > li {
    background-color: navy;
    padding: 12px;
}

nav > ul > li:hover {
    background-color: rgb(76, 76, 139);
}

.dropdown {
    position: relative;
}

.dropdown ul {
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        top 0.5s;
}

.dropdown:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.dropdown ul li a {
    background-color: blue;
    display: inline-block;
    padding: 12px;
    width: 150px;
}

.dropdown ul li a:hover {
    background-color: skyblue;
    color: navy;
}

.textAndImage {
    display: flex;
    align-items: center;
    margin: 24px;
}

.textAndImage .imageBlock {
    flex: 1;
}

.textAndImage .textBlock {
    flex: 2;
    margin: 24px;
}

.textAndImage .imageBlock img {
    width: 100%;
    border-radius: 24px;
}