body {
    margin: 0px;
}

main img {
    width: 100%;
}

nav {
    background-color: navy;
}

#logo {
    display: flex;
}

#logo img {
    height: 50px;
    margin-left: 12px;
}

nav a {
    color: turquoise;
    text-decoration: none;
}

nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
}

nav > ul > li {
    background-color: navy;
    padding: 12px;
}

nav > ul > li:first-child {
    margin-right: auto;
}

nav > ul > li:hover {
    background-color: rgb(76, 76, 139);
}

nav {
    position: relative;
}

.dropdown ul {
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 100%;
}

.dropdown:hover ul {
    display: flex;
}

.dropdown ul li a {
    background-color: blue;
    display: inline-block;
    padding: 12px;
    width: 100vw;
}

.dropdown ul li a:hover {
    background-color: skyblue;
    color: navy;
}