/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/

.tetris-block {
    padding: 20px;
    border-width: 10px;
    border-style: groove;
    display: inline-block;
    margin: 2px;
}

.long {
    padding: 20px 52px;
}

.red {
    background-color: red;
    border-color: crimson;
    border-radius: 18px 50% 50%;
}

.orange {
    background-color: #ffaa00;
    border-color: #ff6f00;
    border-radius: 50%;
}

.yellow {
    background-color: yellow;
    border-color: gold;
    border-radius: 50% 16px;
}

.green {
    background-color: #05c705;
    border-color: #0ea40e;
    border-radius: 16px 50%;
}

.blue {
    background-color: #4c6aff;
    border-color: #1a1ae7;
    border-radius: 12px;
    transform: rotate(45deg) scale(75%)
}

.teal {
    background-color: #1ec7ab;
    border-color: #088e8e;
    border-radius: 50% 50% 18px 18px;
}

.purple {
    background-color: #df67df;
    border-color: #d30dd3;
    border-radius: 18px 18px 50% 50%;
}

.hidden {
    background-color: #00000000;
    border-color: #00000000;
}