/* Google Font API imports - found at https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Secular+One&display=swap');

/*****************************************************************************
  Heading, Link, and Misc. Styles
*****************************************************************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
a {
  font-family: 'Secular One', sans-serif;
}

h4,
p {
  font-family: 'Assistant', sans-serif;
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
}

h4 {
  font-size: 18px;
  margin-top: 4px;
}

a {
  text-decoration: none;
}

nav,
nav a,
footer a {
  color: indigo;
}

nav a:hover,
footer a:hover {
  text-decoration: underline;
}

/****************************************************************************
  Nav/Footer styles
****************************************************************************/

/****************************************************************************
  Hero styles
****************************************************************************/

/****************************************************************************
  Card styles
****************************************************************************/

/****************************************************************************
  Gallery styles
****************************************************************************/

/****************************************************************************
  Media Query - Mobile Breakpoint
****************************************************************************/
@media screen and (max-width: 1000px) {

}
