.narrow {
    width: 40%;
    background-color: lightsalmon;
    display: inline-block;
}

/*
    Since we learned about width today,
    one last thing we'll cover in this 
    demo is how the width property can
    be applied to our images.

    Last week, many of you experienced
    what can happen if the resolution of
    the image you load in your <img> 
    element is too high...it looks
    GINORMOUS!

    We showed you a temporary fix, to use
    the width or height attributes on the
    <img> elements.  However, despite the
    same name, there is a big difference
    between the width attribute in HTML
    and the width property in CSS.

    The HTML attribute is much more limited,
    while the CSS property lets you be much
    more expressive, with more sizing options.

    As a result, going forward, we want you 
    to resize your <img> elements using CSS, 
    not using HTML attributes.

    Let's add two different images to our HTML:
    one inside of a new div, and one outside of
    the new div.
*/