.narrow {
    width: 40%;
    background-color: lightsalmon;
    display: inline-block;
}

/*
    First, let's start out with absolute
    units.

    Set the width of .demo-image to 250px.
*/
.demo-image {
    width: 250px;
}

/*
    See how our images are much more reasonably
    sized now?
*/