/* Drill 1 - Write your code solution below */
#t4_container {
    padding-left: 100px;
}

/* Drill 2 - Write your code solution below */
#t5_container {
    /* padding: 0px 100px 0px 0px; */
    padding-right: 100px;
}

/* Drill 3 - Write your code solution below */
#t6_container {
    padding-top: 100px;
}

/* Drill 4 - Write your code solution below */
#t7_container {
    padding-top: 100px;
    padding-left: 100px;
    /* padding: 100px 0px 0px 100px; */
}