* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/pencils.jpg");
    background-size: cover;
    background-position: center;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}