body {
  height: 1500px;
  position: relative;
}

nav {
  background-color: lavender;
}

#navbar1 {
  background-color: skyblue;
  position: fixed;
  width: 100%;
}

#navbar2 {
  background-color: lavender;
  position: relative;
  top: 150px;
}

#navbar3 {
  background-color: lightpink;
  position: absolute;
  bottom: 150px;
  width: 100%;
}

li {
  display: inline;
  padding: 10px;
}
