#main {
    background-color: lavender;
    margin: 24px;
    padding: 24px 48px;
}



#intro {
    margin-left: 100px;
    margin-right: 100px;
}

#content {
    background-color: slateblue;
    border: 4px solid darkblue;
    color: white;
}