#main {
    background-color: lavender;
    margin: 24px;
    padding: 24px 48px;
}

#intro {
    margin-bottom: 24px;
}

#content {
    background-color: slateblue;
    border: 6px solid darkblue;
    color: white;
    padding: 16px;
}

#content .paragraph {
    margin: 12px 0px;
}

.quote {
    margin-left: 24px;
    padding: 18px;
}

.quoteCitation {
    margin-left: 24px;
    padding-top: 4px;
}

#footer {
    margin-top: 24px;
}