/* Drill 1 - Write your code solution below */
#t8_box1 {
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin: 50px 0px 50px 0px; */
}

/* Drill 2 - Write your code solution below */
#t9_box1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    /* margin: 50px 0px 50px 50px; */
    /* margin: 50px; */
}

/* Drill 3 - Write your code solution below */
#t10_box5 {
    margin-left: 150px;
}

/* Drill 4 - Write your code solution below */
#t11_box5 {
    margin-top: 150px;
}

/* Drill 5 - Write your code solution below */
#t12_box2 {
    margin-left: auto;
    margin-right: auto;
}

/* Drill 6 - Write your code solution below */
#t13_box3 {
    margin-left: auto;
}