* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
/* Student Work Below */

#weather {
    display: inline-block;
    background-color: #5291ef;
    border-radius: 24px;
    color: white;
    padding: 4px 24px 4px 12px;
    margin: 24px;
}

#sun {
    width: 50px;
    vertical-align: middle;
}

#p1,
#p2,
#p3 {
    display: inline-block;
    vertical-align: middle;
}

#p2 {
    margin-left: 24px;
    margin-right: 12px;
}

#p3 {
    font-size: 12px;
}

.calendar {
    border: 1px solid lightgray;
    display: inline-block;
    border-radius: 26px;
    padding: 16px 16px 12px;
    margin-left: 12px;
}

.day {
    color: rgb(249, 102, 53);
}

.date {
    font-size: 36px;
    margin-bottom: 16px;
}

.event {
    border-left: 3px solid purple;
    background-color: #f7d8f7;
    padding: 8px 16px;
    margin-bottom: 8px;
}

.personal {
    border-left: 3px solid orange;
    background-color: #f6e3bf;
}

.event-name {
    color: purple;
}

.personal .event-name {
    color: orange;
}

.event-type {
    font-size: 12px;
    margin-bottom: 8px;
}

.time {
    font-size: 12px;
}

#music {
    display: inline-block;
    margin: 24px;
}

.featured-album {
    width: 60px;
    border-radius: 12px;
}

img {
    width: 100px;
    border-radius: 12px;
}

.featured {
    background-color: rgb(253, 142, 161);
    color: white;
    border-radius: 16px 16px 0 0;
    padding: 12px;
}

.details {
    display: inline-block;
    margin-left: 10px;
}

.featured-album,
.details {
    vertical-align: top;
}

.albums {
    background-color: #a33756;
    padding: 12px;
    border-radius: 0 0 16px 16px;
}