* {
    box-sizing: border-box;
}

body {
    background-color: #faf8ec;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 101vh;
}

#background {
    background-image: 
        repeating-linear-gradient(135deg,transparent,transparent 200px, #ff705099 200px, #ff705099 400px),
        repeating-linear-gradient(45deg,transparent,transparent 200px, #ff705077 200px, #ff705077 400px);
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: -10;
}

#meal-prep #background {
    background-image: 
        repeating-linear-gradient(135deg,transparent,transparent 200px, #1a315999 200px, #1a315999 400px),
        repeating-linear-gradient(45deg,transparent,transparent 200px, #1a315977 200px, #1a315977 400px);
}

nav {
    position: sticky;
    top: 0px;
    z-index: 100;
}

#topHeader {
    background-color: #1a3159;
    color: white;
    display: flex;
    align-items: center;
}

#mealPrepFooter {
    background-color: #1a3159;
    color: white;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    padding: 12px 0px;
}

#topHeader #brand {
    margin-left: 36px;
}

#topHeader #navLinks h2 {
    margin-right: 24px;
}

#topHeader #navLinks h2:last-child {
    margin-right: 36px;
}

#topHeader a {
    color: white;
    text-decoration: none;
}

#topHeader a:hover {
    text-decoration: underline;
}

#topHeader #quote {
    flex: 1;
    text-align: center;
}

#topHeader #navLinks {
    display: flex;
}

#bottomHeader {
    background-color: #faf8ec;
    border-bottom: 3px solid #1a3159;
    min-height: 64px;
    padding: 12px;
}

#cookbookButtons,
.cookbookButtons {
    text-align: center;
}

#mealPrepFooter .cookbookButtons {
    width: calc(100% - 16px);
}

#cookbookButtons a {
    display: inline-block;
    text-decoration: none;
}

#cookbookButtons button,
.cookbookButtons button,
#cookbookButtons a {
    background-color: white;
    border: 3px solid #ff7050;
    border-radius: 16px;
    color: #ff7050;
    cursor: pointer;
    font-size: 16px;
    min-width: 150px;
    padding: 6px 12px;
    transition: background-color 0.5s, color 0.5s;
}

#mealPrepFooter .cookbookButtons button {
    min-width: 100px;
}

#mealPrepFooter .cookbookButtons button.disabled {
    opacity: 0.5;
    cursor: default;
}

#cookbookButtons button.selected,
#cookbookButtons button:hover,
.cookbookButtons button.selected,
.cookbookButtons button:hover,
#cookbookButtons a.selected,
#cookbookButtons a:hover,
#mealPrepFooter .cookbookButtons button.disabled {
    background-color: #ff7050;
    color: white;
}

#title h1 {
    font-size: 60px;
    margin-bottom: 0px;
}

#mealPrepFooter #currentPage {
    padding: 0px 24px;
}

#title h1,
#title h3 {
    color: #1a3159;
    text-align: center;
}

#meal-prep #title {
    display: block;
    background-color: #FFFFFFDD;
    border-radius: 45px;
    margin: 36px;
    padding: 24px;
}

#meal-prep #title h1 {
    margin-top: 0px;
}

#title.recipe h3 {
    display: none;
}

#cookbookPage.recipeNone {
    opacity: 0;
}

.recipeNone #cookbookPageColumnOne {
    display: none;
}

/*****************************************************
  RECIPE CARDS
*****************************************************/
.cookbookPage,
#cookbookPage.recipeCards {
    display: block;
    background-color: #FFFFFFDD;
    border-radius: 45px;
    margin: 36px;
    padding: 24px;
}

.recipeCards #cookbookPageColumnOne {
    display: flex;
    flex-wrap: wrap;
}

.recipeCards #htmlPreview,
.recipeCards #cssPreview,
.recipeCards #recipeListHeading,
.recipeCards #recipeDetailsHeadingHTML,
.recipeCards #recipeDetailsHeadingCSS {
    display: none;
}

.recipeCards .cookbookRecipe {
    background-color: white;
    border: 3px solid #ff7050;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000033;
    cursor: pointer;
    flex: 1;
    margin: 12px;
    min-width: 300px;
    position: relative;
    padding: 12px;
    transition: box-shadow 0.3s, transform 0.3s;
}

.recipeCards .cookbookRecipe:hover {
    box-shadow: 8px 8px 8px #00000033;
    transform: translateY(-8px);
}

.recipeCards .recipeHeading {
    border-bottom: 3px solid #ff7050;
}

.recipeCards .recipeHeading {
    font-size: 24px;
    margin: 0px;
    padding: 6px 12px;
}

.recipeHeading a {
    text-decoration: none;
    color: #e56144;
    cursor: pointer;
}

.recipeCards .recipePreview {
    height: 300px;
    position: relative;
    width: 100%;
}

.recipeCards iframe {
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.recipeCards iframe {
    border: none;
}

.recipeCards .recipeOverlay {
    background: linear-gradient(to top, white 5%, transparent 20%, transparent);
    border-radius: 0px 12px 12px;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
}

.recipeCards #cookbookPageColumnTwo h4 {
    display: none;
}

.recipeCards #previewContainer {
    display: none;
}

.recipeCards #recipeListPreview {
    display: none;
}

/*****************************************************
  RECIPE LIST
*****************************************************/

#cookbookPage.recipeList {
    background-color: #FFFFFFDD;
    border-radius: 45px;
    display: flex;
    min-height: 500px;
    margin: 36px;
    padding: 48px 0px;
}

.recipeList #cookbookPageColumnOne,
.recipeList #cookbookPageColumnTwo {
    flex: 1;
}

.recipeList #htmlPreview,
.recipeList #cssPreview,
.recipeList #recipeDetailsHeadingHTML,
.recipeList #recipeDetailsHeadingCSS {
    display: none;
}

.recipeList #recipeListHeading {
    margin-top: 0px;
    margin-left: 36px;
}

.recipeList .recipeHeading {
    display: flex;
}

.recipeList .recipeHeading a {
    opacity: 0.5;
}

.recipeList .recipeHeading a.previewing {
    text-decoration: underline;
}

.recipeList .recipeHeading a.previewing,
.recipeList .recipeHeading a.previewing .recipeDots,
.recipeList .recipeHeading a:hover,
.recipeList .recipeHeading:hover .recipeDots {
    opacity: 1;
}

.recipeList .recipeHeading .recipeDots,
.recipeList .recipeHeading:hover .recipeDots:hover {
    opacity: 0.5;
}

.recipeList .recipeDots {
    border-bottom: 3px dotted #e56144;
    flex: 1;
}

.recipeList .cookbookRecipe {
    padding: 0px 36px;
}

.recipeList .cookbookRecipe .recipePreview {
    display: none;
}


/**********************************************************
    RECIPE DETAILS
**********************************************************/

#cookbookPage.recipeDetails {
    background-color: #FFFFFFDD;
    border-radius: 45px;
    display: flex;
    min-height: 500px;
    margin: 36px;
    padding: 48px 0px;
}

.recipeDetails #cookbookPageColumnOne {
    max-width: 51%;
}

#cookbookPage.recipeDetails.noCodePreview #cookbookPageColumnOne {
    display: none;
}

#cookbookPage.recipeDetails.noCodePreview #cookbookPageColumnTwo {
    margin-left: 36px;
}

#cookbookPage.recipeDetails.noCodePreview #cookbookPageColumnTwo h4 {
    display: none;
}

.recipeDetails #cookbookPageColumnOne,
.recipeDetails #cookbookPageColumnTwo {
    flex: 1;
}

.recipeDetails #recipeDetailsHeadingHTML {
    margin-top: 0px;
}



.recipeDetails #recipeDetailsHeadingHTML,
.recipeDetails #recipeDetailsHeadingCSS
{
    margin-left: 36px;
}

.recipeDetails #recipeListHeading {
    display: none;
}

.recipeDetails .cookbookRecipe {
    display: none;
}

.recipeDetails #htmlPreview,
.recipeDetails #cssPreview {
    font-family: monospace;
    margin: 0px 36px;
    overflow-x: auto;
    white-space: nowrap;
}

.recipeDetails #htmlPreview,
.recipeDetails #cssPreview,
.recipeList #recipeListPreview {
    background-color: white;
    box-shadow: inset 0px 0px 8px 4px #00000033;
    padding: 12px;
}

#htmlPreview .comment,
#cssPreview .comment {
    background-color:#e5614466;
}

/* Seasonings Page special styling */

.seasonings .recipeDetails #cookbookPageColumnOne {
    display: flex;
    flex-direction: column;
}

.seasonings .recipeDetails #recipeDetailsHeadingHTML {
    margin-top: 16px;
}

.seasonings .recipeDetails #recipeDetailsHeadingCSS {
    margin-top: 0px;
}

.seasonings .recipeDetails #recipeDetailsHeadingCSS {
    order: 1;
}

.seasonings .recipeDetails #cssPreview {
    order: 2;
}

.seasonings .recipeDetails #recipeDetailsHeadingHTML {
    order: 3;
}

.seasonings .recipeDetails #htmlPreview {
    order: 4;
}

/**********************************************************
    RECIPE PREVIEW
**********************************************************/
#previewContainer {
    min-height: 500px;
    position: sticky;
    top: 156px;
}

#cookbookPageColumnTwo h4 {
    margin-top: 0px;
}

#recipeListPreview {
    background-color: white;
    box-shadow: inset 0px 0px 8px 4px #00000033;
    height: calc(100vh - 410px);
    margin-right: 36px;
    min-height: 70vh;
    padding: 12px;
    overflow: hidden;
}

#recipeListPreview iframe {
    border: none;
    height: 100%;
    opacity: 1;
    width: calc(100% + 34px);
}


/**********************************************************
    ANIMATIONS
**********************************************************/

.recipeList #recipeListPreview.fadeOut,
#cookbookPage.fadeOut,
#cardsButton.fadeOut,
#listButton.fadeOut,
#backButton.fadeOut,
#title.fadeOut {
    animation: fadeOut 0.3s;
    animation-fill-mode: forwards;
}

.recipeList #recipeListPreview.fadeIn,
#cookbookPage.fadeIn,
#cardsButton.fadeIn,
#listButton.fadeIn,
#backButton.fadeIn,
#title.fadeIn {
    animation: fadeIn 0.3s;
    animation-fill-mode: forwards;
}

#mealPrepFooter.fadeOut {
    animation: footerSlideDown 0.3s;
    animation-fill-mode: forwards;
}

#mealPrepFooter.fadeIn {
    animation: footerSlideUp 0.3s;
    animation-fill-mode: forwards;
}

.hide {
    display: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes footerSlideUp {
    0% {
        bottom: -60px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes footerSlideDown {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: -60px;
    }
}

/**********************************************************
    BREAKPOINTS
**********************************************************/

@media screen and (min-width: 840px) and (max-width: 1400px) {
    #title {
        padding: 12px 0px 4px;
    }
    #title h1 {
        font-size: 36px;
    }

    #title h3 {
        font-size: 16px;
        margin-bottom: 0px;
    }

    h2,
    .recipeCards h2.recipeHeading {
        font-size: 18px;
    }

    h4 {
        font-size: 12px;
    }

    #quote {
        font-size: 12px;
        padding: 0px 24px;
    }

    #bottomHeader {
        min-height: 57px;
    }

    #cookbookButtons button,
    #cookbookButtons a {
        font-size: 12px;
    }

    .recipeCards .recipePreview {
        height: 250px;
    }
}

@media screen and (max-width: 840px) {
    #background {
        background-image: 
            repeating-linear-gradient(135deg,transparent,transparent 100px, #ff705099 100px, #ff705099 200px),
            repeating-linear-gradient(45deg,transparent,transparent 100px, #ff705077 100px, #ff705077 200px);
    }

    #topHeader {
        flex-direction: column;
    }

    #topHeader #brand {
        margin-left: 0px;
    }

    #topHeader #navLinks h2:last-child {
        margin-right: 0px;
    }

    #title {
        padding: 12px 0px 4px;
    }

    #title h1 {
        font-size: 18px;
    }

    #title h3 {
        font-size: 12px;
        margin-bottom: 0px;
    }

    h2,
    .recipeCards h2.recipeHeading {
        font-size: 14px;
    }

    h4 {
        font-size: 12px;
    }

    #quote {
        font-size: 12px;
        padding: 0px 24px;
    }

    #bottomHeader {
        min-height: 57px;
    }

    #cookbookButtons button,
    #cookbookButtons a {
        font-size: 12px;
        min-width: 100px;
    }

    #cookbookPage.recipeCards,
    #cookbookPage.recipeList,
    #cookbookPage.recipeDetails {
        border-radius: 24px;
        margin: 18px;
        padding: 24px 0px;
    }

    #meal-prep #title {
        border-radius: 24px;
        margin: 18px;
        padding: 24px 0px;
    }

    #cookbookPage.recipeCards {
        padding: 24px;
    }

    .recipeCards #cookbookPageColumnOne {
        gap: 24px;
    }

    .recipeCards .cookbookRecipe {
        margin: 0px;
        min-width: 200px;
    }

    .recipeCards .recipePreview {
        height: 200px;
    }
    
    .recipeCards .recipePreview iframe {
        zoom: 0.5;
    }

    #cookbookPage.recipeList {
        flex-direction: column;
    }

    .recipeList #recipeListHeading {
        margin-left: 0px;
        text-align: center;
    }

    .recipeList .cookbookRecipe {
        padding: 4px 24px;
    }

    .recipeList .cookbookRecipe h2 {
        justify-content: center;
    }

    .recipeList .recipeHeading a {
        opacity: 1;
    }

    .recipeList .recipeHeading a.previewing {
        text-decoration: none;
    }

    .recipeList .recipeHeading .recipeDots {
        display: none;
    }

    #cookbookPage.recipeList #cookbookPageColumnTwo {
        display: none;
    }

    #cookbookPage.recipeDetails {
        flex-direction: column;
    }

    .recipeDetails #cookbookPageColumnOne {
        max-width: none;
        order: 2;
    }
    
    .recipeDetails #cookbookPageColumnTwo {
        order: 1;
    }

    .recipeDetails #previewContainer {
        min-height: 300px;
        padding: 0px 24px 24px;
    }

    .recipeDetails #previewContainer h4 {
        text-align: center;
    }

    #recipeListPreview {
        margin-right: 0px;
    }

    .recipeDetails #cookbookPageColumnOne h4 {
        margin: 0px 24px 12px;
        text-align: center;
    }

    
    .recipeDetails #htmlPreview, 
    .recipeDetails #cssPreview {
        font-size: 11px;
        margin: 0px 24px 24px;
    }

    .recipeDetails #recipeListPreview {
        min-height: auto;
    }

    #mealPrepFooter #currentPage {
        font-size: 12px;
        padding: 0px 12px;
    }
}