#layout {
    display: flex;
}

#rawInput,
#cleanedInput {
    flex: 1;
    min-height: 500px;
    font-family: monospace;
    overflow-x: scroll;
}

.line {
    display: grid;
    grid-template-columns: 50px 1fr;
    border-bottom: 1px solid #EEEEEE;
}

.lineNumber {
    width: 100%;;
    background-color: #CCCCCC;
}

.lineNumber.dirty {
    background-color: red;
}

.lineContent {
    
    white-space: nowrap;
}

.goodIndent {
    background-color: lightgreen;
}

.fixIndent {
    background-color: orange;
}

.badIndent {
    background-color: lightcoral;
}